<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/admin-dashboard.css}" />
</head>
<body class="admin-body">
<header class="bg-dark text-white p-3 d-flex justify-content-between align-items-center fixed-header">
    <div>
        <h1>Admin Dashboard</h1>
    </div>
    <div>
        <a href="/logout" class="btn btn-primary custom-button">Logout</a>
        <a href="/admin/users" class="btn btn-secondary custom-button">Manage Users</a>
        <a href="/admin/games" class="btn btn-secondary custom-button">Manage Games</a>
    </div>
</header>
<main class="container main-content mt-5">
    <h2>Configure is the key...</h2>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>





