<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Game</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="${game.title}">Game Title</h1>-->
<!--<p th:text="${game.description}">Game Description</p>-->
<!--<p>Price: $<span th:text="${game.price}">0.00</span></p>-->
<!--<form th:action="@{/games/purchase}" method="post">-->
<!--    <input type="hidden" th:value="${game.id}" name="id"/>-->
<!--    <button type="submit">Purchase</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
