body {
    background-color: lightgrey;
}


.login-container {
    margin-top: 50px;
    padding: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color:lightyellow;
    border: 1.5px solid seagreen;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Papyrus;
    text-transform: full-size-kana;
    width: 100px;
    height: 30px;
    border-radius: 18px;
}

.btn-primary:hover {
    background-color: lightgreen;
}

.btn-primary:active {
    background-color: yellow;
}

.form-control {
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.card-header {
    background-color: seagreen;
    color: #fff;
    text-align: center;
}

.card-footer {
    background-color: #f8f9fa;
    text-align: center;
}
.register-link {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.register-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.custom-label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}